
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');
html{
    width: 100%;
}
body {
    font-family: 'Red Hat Display';
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #87879D;
    margin: 0px;
  }

  @media screen and (min-width: 1200px){
    h1{
        color: #28283d;
        font-size: 64px;
        font-weight: 900;
        line-height: 64px;
        margin: 0;
    }
    .overline{
        color: #4d96a9;
        letter-spacing:4px ;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
    }
    h2{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    
        color: #28283D;
    
    }
    
    .msg-spn{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #87879D;
    }
    .top-svg{
        padding-top: 2rem;
        display:flex;
        width: 100%;
        justify-content: center;
    }
    
    .top-welcome{
        display: flex;
        justify-content: center;
        height: 385px;
        overflow: hidden;
        /* padding: 0 32px; */
    }
    .top-welcome_tab{
        display: none;
    }
    .top-welcome_left{
        margin-right: auto;
        position: relative;
        left: -40px;
    }

    .top-welcome_right{
        margin-left: auto;
        position: relative;
        right: -40px;
    }
    .responsive-img{
        width: 100%;
        height: auto
    }
    .top-welcome_text{
        text-align: center;
        height: 358px;
        width: 368px;
        padding: 5px;
    }
    
    .download_btn{
        background-color: #4d96a9;
        margin-right: 5px;
        width: 200px;
        color: white;
        opacity: 1;
        transition: 0.3s;
    }
    .c_btn:hover{
        opacity: 0.75;
        cursor: pointer;
    }
    .c_btn{
        padding:10px;
        border-radius: 30px;
        height: 60px;
        border: 0px;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
    .btn-container{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .info_btn{
        background-color: #855fb1;
        margin-left: 5px;
        color:white;
        opacity: 1;
        transition: 0.3s;
        width: 150px;
    }
    
    .rnd{
        border-radius: 10px;
    }
    
    .g-images{
        margin: 0.3rem;
        width: 255px;
        height: 242px;
        /* padding: 0 ; */
    }
    
    .spacing{
        /* display: flex; */
        /* padding-top: 5%; */
        padding-bottom: 5%;
    }
    
    .text-des{
        width: 540px;
        height: 240px;
    }
    .text-desc{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-center{
        text-align: center;
    }
    .top-separator{
        display: flex; 
        position: relative;
        margin-top: 185px;
        margin-bottom: 80px;
    }
    
    .separator{
        position: relative;
        margin-top: 100px;
        z-index: 1;
    }
    
    .images-container{
        display: flex;
        justify-content: center;
    }
    
    .vertical_line {
        border-left: 1.5px solid #c4c4c4;
        height: 84px;
        position: absolute;
        left: 50%;
        top: -70px;
      }
    
    .round_div{
        position: absolute;
        margin-left: -25px;
        top: -25px;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fafafa;
        border: 1px solid #c4c4c4;
    
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
    }
    
    .footer{
        background:linear-gradient(0deg, rgba(77, 151, 169, 0.85), rgba(77, 151, 169, 0.85)), url('assets/desktop/image-footer.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        height: 308px;
        padding: 2rem;
        background-color: #4d97a933;
        justify-content: center;
        align-items: center;
    }
    
    /* .footer span{
        vertical-align: middle;
        display: table-cell;
        color: #f3f3f3;
        text-align: center;
        padding: 20px;
    } */
    
    .footer-elements{
        display: flex;
        /* position: absolute;
        width: 1110px; */
        height: 88px;
        /* padding: 0 165px 70px; */
        /* left: 165px;
        top: 1703px; */
    }
    .e1{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        color: #FAFAFA;
        margin: 5px 67px 5px 5px;
        width: 350px;
    }
    
    .e2{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #FAFAFA;
        margin: 5px 50px 67px 5px;
        width: 350px;
    }
    
    .e3{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        width: 193px;
        height: 58px;
        margin: 5px;
        display: flex;
        align-content: center;
    
    }
    
  }




  @media only screen and (min-width: 768px) and (max-width: 1199px) {

    h1{
        color: #28283d;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
        margin: 0;
    }
    .overline{
        color: #4d96a9;
        letter-spacing:4px ;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
    }
    h2{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    
        color: #28283D;
    
    }
    
    .msg-spn{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #87879D;
    }
    .top-svg{
        padding-top: 2rem;
        display:flex;
        width: 100%;
        justify-content: center;
    }

    .top-welcome {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    .top-welcome_left{
        display: none;
    }
    .top-welcome_right{
        display: none;
    }
    /* .top-welcome>span{
        flex: 1 1 44%;
        order: 1;
        margin: 10px;
        margin:0px auto;
        position: relative;
        left: -40px;
    }
    .top-welcome>span:nth-child(2) {
        flex: 0 1 60%;
        order: 2;
      } */
    .top-welcome_tab{
        overflow: hidden;
        justify-content: center;
/*         display: flex; */
        width:100%;
    }
    .hero-img{
        left: -3%;
        right: -3%;
        width: 106%;
        position: relative;    
    }
    .responsive-img{
        width: 100%;
        height: auto
    }
    .top-welcome_text{
        text-align: center;
        padding: 5px;
        width: 60%;
        height: 262px;
        order: 1;
    }
    
    .download_btn{
        background-color: #4d96a9;
        margin-right: 5px;
        width: 200px;
        color: white;
        opacity: 1;
        transition: 0.3s;
    }
    .c_btn:hover{
        opacity: 0.75;
        cursor: pointer;
    }
    .c_btn{
        padding:10px;
        border-radius: 30px;
        height: 60px;
        border: 0px;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
    .btn-container{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .info_btn{
        background-color: #855fb1;
        margin-left: 5px;
        color:white;
        opacity: 1;
        transition: 0.3s;
        width: 150px;
    }
    
    .rnd{
        border-radius: 10px;
    }
    
    .g-images{
        margin: 0.3rem;
        width: 255px;
        height: 242px;
        /* padding: 0 ; */
    }
    
    .spacing{
        /* display: flex; */
        /* padding-top: 5%; */
        padding-bottom: 5%;
    }
    
    .text-des{
        width: 540px;
        height: 240px;
    }
    .text-desc{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-center{
        text-align: center;
    }
    .top-separator{
        display: flex; 
        position: relative;
        margin-top: 200px;
        margin-bottom: 80px;
    }
    
    .separator{
        position: relative;
        margin-top: 100px;
        z-index: 1;
    }
    
    .images-container{
        display: flex;
        padding: 0 39px;
    }
    
    .vertical_line {
        border-left: 1.5px solid #c4c4c4;
        height: 84px;
        position: absolute;
        left: 50%;
        top: -70px;
      }
    
    .round_div{
        position: absolute;
        margin-left: -25px;
        top: -25px;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fafafa;
        border: 1px solid #c4c4c4;
    
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
    }

    
   
    .e1{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        color: #FAFAFA;
        margin: 92px 16px 16px 16px;
        width: 350px;
    }
    
    .e2{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #FAFAFA;
        margin: 16px;
        width: 573px;
    }
    
    .e3{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        width: 193px;
        height: 58px;
        margin-top: 24px;
        margin-bottom: 66px;
    }



    .footer{
        background:linear-gradient(0deg, rgba(77, 151, 169, 0.85), rgba(77, 151, 169, 0.85)), url('assets/desktop/image-footer.jpg');
        background-size: cover;
        background-position: center;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-elements{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
  }

  @media only screen and (min-width: 375px) and (max-width:767px){
    body {
        font-family: 'Red Hat Display';
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #87879D;
      }
    h1{
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        /* or 110% */
        
        text-align: center;
        
        color: #28283D;
    }
    .overline{
        color: #4d96a9;
        letter-spacing:4px ;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
    }
    h2{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    
        color: #28283D;
    
    }
    
    .msg-spn{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #87879D;
        margin: 0 24px;
    }
    .top-svg{
        padding-top: 2rem;
        display:flex;
        width: 100%;
        justify-content: center;
    }

    .top-welcome {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    /* .top-welcome>span{
        flex: 1 1 44%;
        order: 1;
        margin: 10px;
    }
    .top-welcome>span:nth-child(2) {
        flex: 0 1 90%;
        order: 2;
      }

    .responsive-img{
        width: 100%;
        height: auto
    } */

    .top-welcome_left{
        display: none;
    }
    .top-welcome_right{
        display: none;
    }
    /* .top-welcome>span{
        flex: 1 1 44%;
        order: 1;
        margin: 10px;
        margin:0px auto;
        position: relative;
        left: -40px;
    }
    .top-welcome>span:nth-child(2) {
        flex: 0 1 60%;
        order: 2;
      } */
    .top-welcome_tab{
        overflow: hidden;
        justify-content: center;
/*         display: flex; */
        width:100%;
    }
    .hero-img{
        left: -3%;
        right: -3%;
        width: 106%;
        position: relative;    
    }
    .responsive-img{
        width: 100%;
        height: auto
    }
    .top-welcome_text{
        text-align: center;
        padding: 5px;
        width: 80%;
        height: 262px;
        order: 1;
    }
    
    .download_btn{
        background-color: #4d96a9;
        margin-right: 5px;
        width: 200px;
        color: white;
        opacity: 1;
        transition: 0.3s;
        margin-bottom: 16px;
        margin-top: 12px;
    }
    .c_btn:hover{
        opacity: 0.75;
        cursor: pointer;
    }
    .c_btn{
        padding:10px;
        border-radius: 30px;
        height: 60px;
        border: 0px;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
    .btn-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .info_btn{
        background-color: #855fb1;
        margin-left: 5px;
        color:white;
        opacity: 1;
        transition: 0.3s;
        width: 150px;
    }
    
    .rnd{
        border-radius: 10px;
    }
    
    .g-images{
        margin: 0.3rem;
        width: 255px;
        flex:0 0 45%;
    }
    
    .spacing{
        /* display: flex; */
        /* padding-top: 5%; */
        padding-bottom: 5%;
    }
    
    .text-des{
        width: 540px;
        height: 240px;
    }
    .text-desc{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-center{
        text-align: center;
    }
    .top-separator{
        display: flex; 
        position: relative;
        margin-top: 200px;
        margin-bottom: 80px;
    }
    
    .separator{
        position: relative;
        margin-top: 100px;
        z-index: 1;
    }
    
    .images-container{
        display: flex;
        padding: 0 39px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .vertical_line {
        border-left: 1.5px solid #c4c4c4;
        height: 84px;
        position: absolute;
        left: 50%;
        top: -70px;
      }
    
    .round_div{
        position: absolute;
        margin-left: -25px;
        top: -25px;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fafafa;
        border: 1px solid #c4c4c4;
    
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
    }

    
   
    .e1{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #FAFAFA;
        margin: 92px 16px 16px 16px;
        width: 350px;
    }
    
    .e2{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #FAFAFA;
        margin: 32px;
    }
    
    .e3{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        width: 193px;
        height: 58px;
        margin-top: 24px;
        margin-bottom: 66px;
    }



    .footer{
        background:linear-gradient(0deg, rgba(77, 151, 169, 0.85), rgba(77, 151, 169, 0.85)), url('assets/desktop/image-footer.jpg');
        background-size: cover;
        background-position: center;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-elements{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }











    /* .overline{
        color: #4d96a9;
        letter-spacing:4px ;
        text-transform: capitalize;
    } */
    /* h2{
        color: black;
        font-size: 30px;
        font-weight: 700;
        line-height: 34px;
    } */
    /* .images-container{
        flex-wrap: wrap;
        justify-content: space-between;
    } */
    /* .g-images{
        flex:0 0 45%;
    } */
    /* .btn-container{
        flex-wrap: wrap;
    } */
    /* .download_btn{
        margin-right: 0px;
        margin-bottom: 1rem;
    } */
    /* .info_btn{
        margin-left: 0px;
    }
    .text-desc{
        padding-left: 0%;
        padding-right: 0%;
    }
    .footer{
        padding-left: 0%;
        padding-right: 0%;
    }*/
  } 
  
